.list__element-button_type_like {
    background-image: url(../../../../images/like.svg);
    background-size: cover;
    background-color: transparent;
    width: 22px;
    height: 19px;
    margin-left: auto;
    align-self: center;
    border: none;
}

.list__element-button_type_like:hover {
    cursor: pointer;
    opacity: 0.5;
}