.profile__edit {
    height: 24px;
    align-self: center;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit {
        height: 18px;
    }
}