@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header .header__square-pic_rotation {
    animation: rotation 20s linear 0s infinite;
}

/*или нужно сделать всё в классе хедер сквайер пик, добавив модификатор и чтоб не переполнял род блок*/