.popup__close {
    position: absolute;
    background-image: url('../../../images/close-icon.svg');
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    top: -38px;
    right: -40px;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}