.profile__info {
    color: #FFFFFF;
    max-width: 336px;
    display: grid;
    grid-template-columns: 294px 24px;
    gap: 16px 18px;
    margin: 22px 0 25px 30px;
}

@media screen and (max-width: 450px) {
    .profile__info {
        grid-template-columns: 250px 20px;
        margin: 26px auto 0;
        gap: 15px 15px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        grid-template-columns: 189px 18px;
        gap: 14px 10px;
        max-width: 100%;
    }
}