.cards__item {
    display: flex;
    flex-direction: column;
    width: 240px;
    text-align: center;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 0;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}

.cards__item:last-child {

}