.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: auto;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 1;
}

.title {
  display: flex;
  width: 730px;
  align-items: center;
  margin-left: 64px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  
}

.subtitle {
  width: 388px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 1; 
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  display: flex;
  
  align-self: flex-end;
}

.header__square-pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 64px;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
